<?xml version="1.0" encoding="utf-8" ?>
<!-- 
		.NET application configuration file     
		This file must have the exact same name as your application with .config appended to it. 
		
		For example if your application is ConsoleApp.exe then the config file must be ConsoleApp.exe.config. 
		It must also be in the same directory as the application. 
	-->
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
  </appSettings>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="" />
      <from value="" />
      <subject value="Notification Message" />
      <smtpHost value="" />
      <bufferSize value="1" />
      <threshold value="ERROR" />
      <lossy value="false" />
      <!--
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %property{SessionId} %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Errors.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <threshold value="Error" />
      <layout type="log4net.Layout.PatternLayout">
        <!--
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />-->
        <conversionPattern value="%date %property{SessionId} %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="SystemEventsRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\SystemEvents.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />-->
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="AuditRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Audit.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />-->
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
      <!--
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Logged In"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Login attempt failed"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Logged Out"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />-->
    </appender>
    <appender name="SecurityAuditRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\SecurityAudit.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />-->
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="QueueRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Queue.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />-->
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="ReportRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ReportUsage.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />-->
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="Logs\log-file.txt" />
      <!-- Example using environment variables in params -->
      <!-- <file value="${TMP}\log-file.txt" /> -->
      <appendToFile value="true" />
      <!-- An alternate output encoding can be specified -->
      <!-- <encoding value="unicodeFFFE" /> -->
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
      </layout>
      <!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
    </appender>
    <appender name="PatternFileAppender" type="log4net.Appender.PatternFileAppender">
      <file value="Logs\Log-%property{SessionId}.log" />
      <layout type="log4net.Layout.PatternLayout" 
        value="%date %-5level %logger - %message%newline"/>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
      </layout>
    </appender>
    <appender name="NetSendAppender" type="log4net.Appender.NetSendAppender">
      <threshold value="ERROR" />
      <server value="SQUARE" />
      <recipient value="nicko" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!-- Example of how to configure the AdoNetAppender		
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender" >			
			<connectionString value="Driver={Microsoft Access Driver (*.mdb)};DBQ=C:\Work\cvs_root\log4net-1.2\access.mdb;UID=;PWD=;" />
			<layout type="log4net.Layout.PatternLayout">				
				<conversionPattern value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES ('%date','%thread','%level','%logger','%message')" />
			</layout>
		</appender> 
		-->
    <!-- 
		<appender name="A" type="log4net.Appender.ForwardingAppender" >
			<threshold value="WARN"/>			
			<appender-ref ref="ConsoleAppender" />		
		</appender>
		<appender name="B" type="log4net.Appender.ForwardingAppender" >
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="DEBUG"/>
				<levelMax value="INFO"/>
			</filter>
			<appender-ref ref="ConsoleAppender" />
		</appender> 
		-->
    <!-- Example of how to configure the AdoNetAppender to connect to MS Access -->

    <!-- Example of how to configure the AdoNetAppender to connect to MS SQL Server -->
    <appender name="ADONetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=SQLSVR;initial catalog=test_log4net;integrated security=false;persist security info=True;User ID=sa;Password=sa" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <!-- 
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
				</layout> 
				-->
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="Debug" />
      <appender-ref ref="PatternFileAppender" />
      <appender-ref ref="ErrorRollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="SmtpAppender" />
      <!-- <appender-ref ref="ADONetAppender_SqlServer" /> -->
      <!-- <appender-ref ref="NetSendAppender" /> -->
      <!-- <appender-ref ref="A" /> -->
    </root>
    <logger name="LoginAudit" additivity="false">
      <appender-ref ref="AuditRollingLogFileAppender" />
      <level value="INFO" />
    </logger>
    <logger name="SystemEvents" additivity="false">
      <appender-ref ref="SystemEventsRollingLogFileAppender" />
      <level value="INFO" />
    </logger>
    <logger name="SecurityAudit" additivity="false">
      <appender-ref ref="SecurityAuditRollingLogFileAppender" />
      <level value="INFO" />
    </logger>
    <logger name="ReportUsage" additivity="false">
      <appender-ref ref="ReportRollingLogFileAppender" />
      <level value="INFO" />
    </logger>
    <!-- Specify the level for some specific categories -->
    <!--
    <logger name="ConsoleApp.LoggingExample">
			<appender-ref ref="B" /> 
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</logger>-->
  </log4net>
</configuration>