<?xml version="1.0"?>
<configuration>
  <!-- BEGIN STANDARD STUFF -->
  <add key="ApplicationName" value="WebFramework" />
  <add key="ApplicationAcronym" value="WebFramework" />
  <add key="ApplicationVersion" value="1.0" />
  <add key="Copyright" value="ZSU" />
  <!-- Application setup -->
  <add key="BeginDateOffset" value="-8" />
  <add key="EndDateOffset" value="-1" />
  <!-- Operating time zone -->
  <add key="TimeZone" value="ET" />
  <add key="DateTimeFormat" value="MMMM d, yyyy HH:mm ET" />
  <!-- Customer Support - these display on error page and account request page -->
  <add key="SupportOrganization" value="ZSU" />
  <add key="Supportaddress1" value="Address 1" />
  <add key="Supportaddress2" value="Address 2" />
  <add key="SupportPhone" value="(555) 555-5555" />
  <add key="SupportHours" value="Mon. - Fri., 0900 - 1800 ET" />
  <add key="SupportEmail" value="customersupport@aaa.aaa" />
  <add key="SupportURL" value="http://www.aaa.aaa" />
  <!-- SupportTurnAround is the number of days that user will get response to the support request -->
  <add key="SupportTurnAround" value="2" />
  <add key="ProductProvider" value="ZSU" />
  <add key="ProductProviderPhone" value="(555) 555-5555" />
  <add key="ProductProviderEmail" value="customersupport@aaa.aaa" />
  <add key="ProductProviderURL" value="http://www.aaa.aaa" />
  <!--<add key="OfflineFilePath" value="Offline\Offline.htm" />-->
  <!--SecurityCacheEnable default to true if not specified-->
  <!--<add key="SecurityCacheEnable" value="true" />-->
  <!-- END STANDARD STUFF -->
  <!--Ado.Net command timeout in seconds-->
  <add key="CommandTimeout" value="30" />
  <add key="CorsOrigin" value="*" />
</configuration>