<br />
<br />
<div class="disable-select">
    <div class="modal-body">
        <div class="center col-md-7 well">
            <div class="tab-content">
                <div class="tab-pane active in" id="changepassword">
                    <form name="form" novalidate class="form-horizontal">
                        <fieldset>
                            <div id="legend">
                                <legend class="">Change Password</legend>
                            </div>
                           <div class="form-group">
                                <label class="col-md-2 control-label" for="oldpassword">Old Password</label>
                                <div class="col-md-6">
                                    <input type="password" required ng-model="changePasswordModel.oldPassword" id="oldpassword" name="oldpassword" placeholder="Old Password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="newpassword">New Password</label>
                                <div class="col-md-6">
                                    <input type="password" required ng-model="changePasswordModel.newPassword" id="newpassword" name="newpassword" placeholder="New Password" class="form-control">
                                </div>
                            </div><div class="form-group">
                                <label class="col-md-2 control-label" for="newpasswordconfirm">Confirm Password</label>
                                <div class="col-md-6">
                                    <input type="password" required ng-model="changePasswordModel.newPasswordConfirm" id="newpasswordconfirm" name="newpasswordconfirm" placeholder="Confirm Password" class="form-control" ui-validate=" '$value==changePasswordModel.newPassword' "
                                           ui-validate-watch=" 'changePasswordModel.newPassword' ">
                                    <span class="alert-danger" ng-show="form.newpasswordconfirm.$error.validator">Passwords do not match!</span>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button ng-click="changePassword()" ng-disabled="form.$invalid" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
