<!DOCTYPE html>
<html>
<head>
    <title>WebFramework</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<link href="content/css/form.css" rel="stylesheet" />-->

    <style>
        [ng-cloak].splash {
            display: block !important;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link href="content/css/modern.css" rel="stylesheet" />
    <link href="content/css/modern-responsive.css" rel="stylesheet" />
    <link href="content/css/bootstrap.css" rel="stylesheet" />
    <link href="content/css/bootstrap-switch.css" rel="stylesheet" />
    <link href="content/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="content/css/angular-carousel.css" rel="stylesheet" />
    <link href="content/css/animate.css" rel="stylesheet" />
    <!--<link href="content/css/font-awesome.css" rel="stylesheet" />-->
    <!--<link href="content/css/form.css" rel="stylesheet" />-->
    <link href="content/css/jquery-ui.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/loadspinner.css" rel="stylesheet" />
    <link href="content/css/nv.d3.css" rel="stylesheet" />
    <link href="content/css/toastr.css" rel="stylesheet" />
    <link href="content/css/tweak-bootstrap.css" rel="stylesheet" />
    <link href="content/css/ui.jqgrid.css" rel="stylesheet" />
    <link href="content/css/app.css" rel="stylesheet" />
    <link href="content/css/app-responsive.css" rel="stylesheet" />
</head>

<body>
    <div id="loading-area" ng-if="!ttAppLoaded">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div id="mainContainer" ng-controller="NavigationController" ng-cloak>
        <div class="navbar navbar-default navbar-fixed-top" style="position:fixed" bs-navbar>
            <div class="inner">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">
                            <img src="content/images/logo.gif" alt="WebFramework" style="height:3em;width:6em;border:0" />
                            <label>WebFramework</label>
                        </span>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" ng-show="menuVisible">
                            <li ng-repeat="ni in navigation.navigationItems track by $index" data-match-route='{{ ni.MatchPattern }}'>
                                <a ng-show="ni.DisplayText" ng-click="navigation.isCollapsed=true" ng-href="#{{ ni.Url }}" translate>{{ ni.DisplayText }}</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" ng-show="menuVisible">
                            <li>
                                <div class="menu" ng-controller="StatusController">
                                    <img ng-if="status.isOnline" src="content/images/online.png" title="Browser connection online" />
                                    <img ng-if="!status.isOnline" src="content/images/offline.png" title="Browser connection offline" />

                                    <span>
                                        <span ng-if="!tt.authentication.userLoggedIn" data-match-route="/login">
                                            <a href="#/login" translate="INDEX_LOGIN"></a>
                                        </span>
                                        <span ng-if="tt.authentication.userLoggedIn">
                                            <a href="" ng-click="navigation.logout()" translate="INDEX_LOGOUT"></a>
                                        </span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="position: relative">
            <div ui-view autoscroll="false" class="slide-animation" style="width: 97%;margin-top:20px;margin-bottom:50px;"></div>
            <br />
        </div>
        <footer id="footer">
            <div class="container-fluid" ng-controller="StatusController">
                <!--<img ng-if="status.isOnline" src="content/images/online.png" />
                <img ng-if="!status.isOnline" src="content/images/offline.png" />

                <span>
                    <span ng-if="!tt.authentication.userLoggedIn" data-match-route="/login">
                        <a href="#/login" translate="INDEX_LOGIN"></a>
                    </span>
                    <span ng-if="tt.authentication.userLoggedIn">
                        <a href="" ng-click="navigation.logout()" translate="INDEX_LOGOUT"></a>
                    </span>
                </span>-->
                <span>Build Version: {{status.serverVersion}}</span>
                <a href="#" class="pull-right">© <script>document.write(new Date().getFullYear());</script> ZSU</a>
            </div>
        </footer>

    </div>

    <script>
        ttMobile = false;
    </script>
    <script src="0lib/jquery-2.1.0.js"></script>
    <script src="0lib/jquery-ui-1.10.4.min.js"></script>
    <script src="0lib/jquery.jqGrid.min.js"></script>
    <script src="0lib/i18n/grid.locale-en.js"></script>
    <script src="0lib/jquery.signalR-2.0.3.js"></script>

    <script src="0lib/angular.js"></script>
    <script src="0lib/angular-animate.js"></script>
    <script src="0lib/angular-bootstrap-switch.js"></script>
    <script src="0lib/angular-cache.js"></script>
    <script src="0lib/angular-carousel.js"></script>
    <script src="0lib/angular-cookie.min.js"></script>
    <script src="0lib/angular-sanitize.js"></script>
    <script src="0lib/angular-strap.js"></script>
    <script src="0lib/angular-touch.js"></script>
    <script src="0lib/angular-translate-.js"></script>
    <script src="0lib/angular-translate-loader-static-files.js"></script>
    <script src="0lib/angular-translate-loader-url.js"></script>
    <script src="0lib/angular-translate-storage-cookie.js"></script>
    <script src="0lib/angular-translate-storage-local.js"></script>
    <script src="0lib/angular-ui-router.js"></script>
    <script src="0lib/ui-utils.min.js"></script>    
    <script src="0lib/ngStorage.js"></script>
    <script src="0lib/angularjs-nvd3-directives.js"></script>
    <script src="0lib/script.js"></script>
    <script src="0lib/toastr.js"></script>
    <script src="0lib/bootstrap-.js"></script>
    <script src="0lib/bootstrap-filestyle.js"></script>
    <script src="0lib/bootstrap-switch.js"></script>
    <script src="0lib/d3.v3.js"></script>
    <script src="0lib/nv.d3.js"></script>
    <script src="0lib/ui-bootstrap-tpls-0_11_0.js"></script>
    <script src="0lib/log4javascript.js"></script>
    <script src="0lib/jstz.min.js"></script>
    <script src="0lib/fastclick.js"></script>
    <script src="0lib/imageupload.js"></script>
    <script src="0lib/loading-bar.js"></script>
    <script src="0lib/phonegap-ready.js"></script>
    <script src="0lib/phonegap-geolocation.js"></script>
    <script type="text/javascript">
        window.onerror = function myErrorHandler(errorMsg, url, lineNumber, column) {
            //var oldState = log4javascript.isEnabled();
            //if (!oldState) log4javascript.setEnabled(true);
            log4javascript.getLogger().error(errorMsg + " [line:" + lineNumber + "] " + url);
            toastr.error(errorMsg);
            //log4javascript.setEnabled(oldState);
        }
        $.ajaxSetup({
            beforeSend: function (xhr) {
                var scope = angular.element(document.getElementById("mainContainer")).scope();
                if (scope) {
                    var tokenData = scope.getToken();
                    if (tokenData)
                        xhr.setRequestHeader("Authorization", "Bearer " + tokenData.access_token);
                }
            }
        });
    </script>

    <script>
        $(function () {
            FastClick.attach(document.body);
        });
    </script>

    <script src="main.js"></script>
</body>
</html>
