<h3>Maintenance</h3>
<div>
    <maintenance-warning></maintenance-warning>
    <div class="form-horizontal">
        <div>
            <ul>
                <li>
                    <a ng-href="#/activitylog">Activity Logs</a>
                </li>
                <li>
                    <a ng-href="#/authenticationaudit">Authentication Audit</a>
                </li>
                <li>
                    <a ng-href="#/messagetemplate">Message Templates</a>
                </li>
                <li>
                    <a ng-href="#/setting">Settings</a>
                </li>
                <li>
                    <a ng-href="#/user">Users</a>
                </li>                
                <li>
                    <a ng-href="#/role">Roles</a>
                </li> 
                <li>
                    <a ng-href="#/permission">Permissions</a>
                </li> 
                <li>
                    <a ng-href="#/roleuserlist">Role User List</a>
                </li>
               <li>
                    <a href="" ng-click="refreshCache()">Refresh Cache</a>
                </li>
                <li>
                    <a href="" ng-click="restartApp()">Restart Application</a>
                </li>
            </ul>
        </div>
    </div>
</div>





